* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('../../node_modules/ay-crestron-fonts/css/crestronfonts.css');
@import url('../../node_modules/ay-crestron-fonts/css/neo.css');
